$text-color: #3B3C3E;
$action-icon-color: #58B99D;
$card-border-color: #000000;
$card-bg: #fff;

.partners-wrap {
  padding: 20px;
  max-width: 100%;
  margin: 0 auto;
  background-color: #fff;
  margin-bottom: 22px;
}

.title {
  font-size: 2.2rem;
  color: $text-color;
  text-align: left;
  margin-bottom: 30px;
  font-weight: 500;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
}

.card {
  width: 100%;
  height: 100%;
  background-color: $card-bg;
  border: 1px solid $card-border-color;
  display: flex;
  flex-direction: column;
  transition: all 0.2s ease-in-out;
  padding: 10px;

  &:hover {
    transform: translateY(-4px);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);
  }
}

.card-body {
  padding: 10px;
  flex-grow: 1;
}

.card-title {
  margin: 0 0 8px 0;
  font-size: 1.4rem;
  font-weight: 800;
  color: $text-color;
}

.desc {
  font-weight: 400;
  font-size: 0.7rem;
  line-height: 1.5;
  margin: 0 0 16px 0;
  color: $text-color;
}

.address {
  font-size: 0.6rem;
  color: $text-color;
  margin: 0;
  font-weight: 600;
}

.card-footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  width: calc(100% - 32px);
  padding: 15px;
  height: 18px;
  bottom: 10px;
  left: 0px;
  gap: 18px;
}

.icon-action-btn {
  background: none;
  border: none;
  color: $action-icon-color;
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
  padding: 4px;

  &:hover:not([disabled]) {
    color: darken($action-icon-color, 15%);
  }

  &:disabled {
    color: #b0b0b0;
    cursor: not-allowed;
  }

  i {
    font-size: 10px;
    width: 10px;
    text-align: center;
  }

  .label {
    font-size: 8px;
    font-weight: 500;
    white-space: nowrap;
  }
}

@media (max-width: 1024px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr;
  }

  .card {
    width: auto;
    height: 100%;
  }

  .card-footer {
    gap: 0px;

    .icon-action-btn {
      flex: 1 1 45%;
      margin: 5px;
    }
  }

  .title {
    font-size: 2em;
    text-align: center;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate(-50%, -60%);
  }

  to {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  80% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}